<h1>Welcome</h1>
<div class="well">Click different links to retreive the information that you want</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<button type="button" class="btn btn-primary"><%= link_to("Instructors", instructors_path) %></button>
<button type="button" class="btn btn-info"><%= link_to("Courses", courses_path) %></button>
<button type="button" class="btn btn-danger"><%= link_to("Subjects", subjects_path) %></button>

<h3></h3>
